<div class="container mt-4">
  <div class="text-center">
    <a href="https://www.behance.net/julietapennini">
      <img src="../assets/cheffBot.jpeg" class="" alt="cheffBot" style="height: 250px; border-radius: 50%" />
    </a>
  </div>
  <form class="row g-6 mt-5" [formGroup]="botFrom" novalidate (keydown.enter)="$event.preventDefault()">
    <div class="col-12 row">
      <!-- Name repice-->
      <div class="col-md-6">
        <label for="name" class="form-label">Nombre de la receta *</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="(Puedes añadir un emoji 🍕)"
          formControlName="name"
        />
      </div>

      <!-- Type -->
      <div class="col-md-6 mt-3 mt-md-0 mb-3">
        <label for="selectType" class="form-label">Tipo *</label>
        <ng-select
          [items]="types"
          bindLabel="name"
          bindValue="id"
          [multiple]="true"
          id="selectType"
          formControlName="type"
        >
        </ng-select>
      </div>
    </div>

    <div class="col-12 row">
      <!-- Ingredientes-->
      <div class="col-md-6">
        <label for="name" class="form-label">Ingredientes *</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="inputIngredient"
            #inputIngredient
            (keyup.enter)="addIngredient()"
          />
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="addIngredient()">
            +
          </button>
        </div>
      </div>

      <!-- Difficulty-->
      <div class="col-md-3 mt-3 mb-3">
        <label for="selectDifficulty" class="form-label">Dificultad *</label>
        <ng-select
          [items]="difficulty"
          bindLabel="name"
          bindValue="id"
          [multiple]="false"
          id="selectDifficulty"
          formControlName="difficulty"
        ></ng-select>
      </div>

      <!-- Time -->
      <div class="col-md-3 mb-3 mt-3">
        <label for="time" class="form-label">Tiempo *</label>
        <div class="input-group">
          <input type="number" class="form-control" formControlName="time" />
          <span class="input-group-text" id="basic-addon2">minutos</span>
        </div>
      </div>
    </div>

    <div class="col-12 row">
      <!-- Ingredients tables -->
      <div class="col-md-6 overflow-auto float-left mb-3" style="max-height: 125px">
        <table class="table table-hover">
          <thead></thead>
          <tbody>
            <tr *ngFor="let item of arrayIngredients; index as i">
              <td scope="row" (click)="editItem(i)">{{ item }}</td>
              <td scope="row" style="text-align: end" (click)="deleteItem(i)">
                <img src="../assets/trash.svg" alt="delete" style="width: 1em" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Box Right -->
      <div class="col-md-6">
        <!-- URL STEPS -->
        <div class="col-md-12">
          <label for="stepsLink" class="form-label">Link a la receta (opcional)</label>
          <input type="text" class="form-control" id="stepsLink" formControlName="steps" />
        </div>

        <div class="col-md-12 mt-3">
          <label for="stepsLink" class="form-label">Te gustaria figurar? (opcional)</label>
          <input
            type="text"
            class="form-control"
            id="stepsLink"
            formControlName="userName"
            placeholder="Dejanos tu nombre!"
          />
        </div>

        <div class="col-12 d-flex justify-content-between mt-3 mb-5">
          <!-- Gluten Free -->
          <div class="col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" formControlName="glutenFree" />
              <label class="form-check-label" for="gridCheck"> Libre de gluten </label>
            </div>
          </div>

          <!-- Button submit -->
          <div class="col-md-6">
            <button class="btn btn-primary float-right" (click)="sendForm()" [disabled]="botFrom.invalid">
              Cargar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
